{% load static %}
<!-- Navbar -->
<header class="header-area gray-bg clearfix fixed-top">
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-6">
          <div class="logo">
            <a href="{% url 'index' %}">
              <img alt="" src="{% static 'img/logo/logo.png' %}" />
            </a>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 col-6">
          <div class="header-bottom-right">
            <div class="main-menu">
              <nav>
                <ul>
                  <li class="top-hover">
                    <a href="{% url 'index' %}">home</a>
                  </li>
                  <li><a href="{% url 'about' %}">about</a></li>
                  <li class="mega-menu-position top-hover">
                    <a href="{% url 'shop' %}">shop</a>
                  </li>
                  </li>
                  <li><a href="{% url 'contact' %}">contact</a></li>
                  {% if user.id is None %}
                  <li class="top-hover">  
                    <a href="{% url 'login' %}">login</a> / <a href="{% url 'register' %}">register</a>
                  </li>
                  {% else %}
                  <li><a href="#">Welcome {{ user.first_name }}</a></li>
                  <li class="top-hover">
                    <a href="#">Dashboard</a> / <a href="{% url 'logout' %}">logout</a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
            <div class="header-currency">
              <span class="digit">ENG <i class="ti-angle-down"></i></span>
              <div class="dollar-submenu">
                <ul>
                  <li><a href="#">ZH</a></li>
                </ul>
              </div>
            </div>

            <div class="header-cart">
              <a href="{% url 'cart' %}" class="widget-header"> 
              <div class="cart-icon">
                <i class="ti-shopping-cart"></i>
              </div><span class="badge badge-pill badge-danger notify mt-25">{{cart_count}}</span>
            </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-menu-area">
        <div class="mobile-menu">
          <nav id="mobile-menu-active">
            <ul class="menu-overflow">
              <li>
                <a href="{% url 'index' %}">HOME</a>
              </li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'shop' %}">Shop</a></li>
              <li><a href="{% url 'contact' %}"> Contact us </a></li>
              {% if user.id is not None %}
              <li class="top-hover">
                <a href="{% url 'login' %}">login</a> / <a href="{% url 'register' %}">register</a>
              </li>
              {% else %}
              <li>Welcome {{ user.first_name }}</li>
              <li class="top-hover">
                <a href="{% url 'login' %}">Dashboard</a> / <a href="{% url 'register' %}">logout</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
