{% extends 'base.html' %}
<!-- load static -->
{% load static %}
<!-- block content -->
{% block content %}
<!-- Breadcrumb Area Start -->
<!-- <div class="breadcrumb-area bg-image-3 ptb-150"> -->
<div
  class="breadcrumb-area ptb-150"
  style="background-image: url(../static/img/banner/banner.jpg)"
>
  <div class="container">
    <div class="breadcrumb-content text-center mt-50">
      <h3>CART PAGE</h3>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="active">Cart page</li>
      </ul>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End -->
<!-- shopping-cart-area start -->
<div class="cart-main-area ptb-100">
  <div class="container">
    {% if not cart_items %}
    <div class="text-center mb-100">
      <h4 class="mb-20">Your shopping cart is empty</h4>
      <a href="{% url 'shop' %}" type="button" class="button"
        >Continue shopping</a
      >
    </div>
    {% else %}
    <h3 class="page-title">Your cart items</h3>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <form action="#">
          <div class="table-content table-responsive">
            <table>
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Product Name</th>
                  <th>Until Price</th>
                  <th>Qty</th>
                  {% comment %}
                  <th>Tax</th>
                  {% endcomment %}
                  <th>Subtotal</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for cart_item in cart_items %}
                <tr>
                  <td class="product-thumbnail">
                    <a href="#"
                      ><img src="{{ cart_item.product.photo_1_t.url }}" alt=""
                    /></a>
                  </td>
                  <td class="product-name">
                    <a href="#">{{ cart_item.product.tea_name }}</a>
                  </td>
                  <td class="product-price-cart">
                    <span class="amount"
                      >${{ cart_item.product.discounted_price }}</span
                    >
                  </td>
                  <td class="product-quantity">
                    <!-- <div class="col"> -->
                    <div class="input-group input-spinner">
                      <div class="input-group-prepend">
                        <a
                          href="{% url 'remove_cart' cart_item.product.id%}"
                          class="button btn-light"
                          type="button"
                          id="button-plus"
                        >
                          <i class="fa fa-minus"></i>
                        </a>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        value="{{cart_item.quantity}}"
                      />
                      <div class="input-group-append">
                        <a
                          href="{% url 'add_cart' cart_item.product.id%}"
                          class="button btn-light"
                          type="button"
                          id="button-minus"
                        >
                          <i class="fa fa-plus"></i>
                        </a>
                      </div>
                    </div>
                    <!-- input-group.// -->
                    <!-- </div> -->
                    <!-- col.// -->
                  </td>

                  <td class="product-subtotal">${{ cart_item.sub_total }}</td>
                  <td class="product-remove">
                    <a
                      type="button"
                      class="button btn-danger"
                      href="{% url 'remove_cart_item' cart_item.product.id%}"
                      ><!-- <i class="fa fa-times"></i> -->Delete</a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="cart-shiping-update-wrapper">
                <div class="cart-shiping-update">
                  <a href="{% url 'shop' %}">Continue Shopping</a>
                </div>
                <div class="cart-clear">
                  <button>Update Shopping Cart</button>
                  <a href="#">Clear Shopping Cart</a>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="cart-tax">
              <div class="title-wrap">
                <h4 class="cart-bottom-title section-bg-gray">
                  Estimate Shipping And Tax
                </h4>
              </div>
              <div class="tax-wrapper">
                <p>Enter your destination to get a shipping estimate.</p>
                <div class="tax-select-wrapper">
                  <div class="tax-select">
                    <label> * Country </label>
                    <select class="email s-email s-wid">
                      <option>Bangladesh</option>
                      <option>Albania</option>
                      <option>Åland Islands</option>
                      <option>Afghanistan</option>
                      <option>Belgium</option>
                    </select>
                  </div>
                  <div class="tax-select">
                    <label> * Region / State </label>
                    <select class="email s-email s-wid">
                      <option>Bangladesh</option>
                      <option>Albania</option>
                      <option>Åland Islands</option>
                      <option>Afghanistan</option>
                      <option>Belgium</option>
                    </select>
                  </div>
                  <div class="tax-select">
                    <label> * Zip/Postal Code </label>
                    <input type="text" />
                  </div>
                  <button class="cart-btn-2" type="submit">Get A Quote</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="discount-code-wrapper">
              <div class="title-wrap">
                <h4 class="cart-bottom-title section-bg-gray">
                  Use Coupon Code
                </h4>
              </div>
              <div class="discount-code">
                <p>Enter your coupon code if you have one.</p>
                <form>
                  <input type="text" required="" name="name" />
                  <button class="cart-btn-2" type="submit">Apply Coupon</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="grand-totall">
              <div class="title-wrap">
                <h4 class="cart-bottom-title section-bg-gary-cart">
                  Cart Total
                </h4>
              </div>
              <h5>Total products <span>${{ cart_item.total }}</span></h5>
              <div class="total-shipping">
                <h5>Total shipping</h5>
                <ul>
                  <li>
                    <input type="checkbox" /> Standard <span>$20.00</span>
                  </li>
                  <li><input type="checkbox" /> Express <span>$30.00</span></li>
                </ul>
              </div>
              <h4 class="grand-totall-title">
                Grand Total <span>$260.00</span>
              </h4>
              <a href="#">Proceed to Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
