{% extends 'base.html' %}
<!-- load static -->
{% load static %}
<!-- block content -->
{% block content %}
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-image-3 ptb-150">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h3>SINGLE PRODUCT</h3>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="active">Single Product</li>
      </ul>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Product Deatils Area Start -->
<div class="product-details pt-100 pb-95">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="product-details-img">
          <img
            class="zoompro"
            src="{{ single_product.photo_1.url }}"
            data-zoom-image="{{ single_product.photo_1_z.url }}"
            alt="zoom"
          />
          <div id="gallery" class="mt-20 product-dec-slider owl-carousel">
            {% if single_product.photo_1 %}
            <a
              data-image="{{ single_product.photo_1.url }}"
              data-zoom-image="{{ single_product.photo_1_z.url }}"
            >
              <img src="{{ single_product.photo_1_t.url }}" alt="" />
            </a>
            {% endif %} {% if single_product.photo_2 %}
            <a
              data-image="{{ single_product.photo_2.url }}"
              data-zoom-image="{{ single_product.photo_2_z.url }}"
            >
              <img src="{{ single_product.photo_2_t.url }}" alt="" />
            </a>
            {% endif %} {% if single_product.photo_3 %}
            <a
              data-image="{{ single_product.photo_3.url }}"
              data-zoom-image="{{ single_product.photo_3_z.url }}"
            >
              <img src="{{ single_product.photo_3_t.url }}" alt="" />
            </a>
            {% endif %} {% if single_product.photo_4 %}
            <a
              data-image="{{ single_product.photo_4.url }}"
              data-zoom-image="{{ single_product.photo_4_z.url }}"
            >
              <img src="{{ single_product.photo_4_t.url }}" alt="" />
            </a>
            {% endif %} {% if single_product.photo_2 %}
            <a
              data-image="{{ single_product.photo_2.url }}"
              data-zoom-image="{{ single_product.photo_2_z.url }}"
            >
              <img src="{{ single_product.photo_2_t.url }}" alt="" />
            </a>
            {% endif %}
          </div>
          <span>-{{ single_product.discount_rate }}%</span>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="product-details-content">
          <h4>{{ single_product.tea_name}}</h4>
          <div class="rating-review">
            <div class="pro-dec-rating">
              <i class="ion-android-star-outline theme-star"></i>
              <i class="ion-android-star-outline theme-star"></i>
              <i class="ion-android-star-outline theme-star"></i>
              <i class="ion-android-star-outline theme-star"></i>
              <i class="ion-android-star-outline"></i>
            </div>
            <div class="pro-dec-review">
              <ul>
                <li>32 Reviews</li>
                <li>Add Your Reviews</li>
              </ul>
            </div>
          </div>
          <p>
            Tea type:&#x2004;{{ single_product.tea_type }}<br />
            Origin:&#x2003;&#x2009;&#x2006;{{ single_product.origin }}<br />
            Color:&#x2003;&#x2004;&#x2006;&#x2006;&#x2006;{{single_product.color}}<br />
            Aroma:&#x2003;&#x2006;&#x2009;{{ single_product.aroma}}<br />
            Taste:&#x2003;&#x2004;&#x2006;&#x2006;&#x2009;{{single_product.taste}}<br />
            Nature:&#x2003;&#x2009;{{ single_product.tea_nature}}<br />
            Weight:&#x2003;&#x2009;{{ single_product.weight}} g<br />
            Price:&#x2003;&#x2003;&#x2009;<span
              >${{ single_product.discounted_price }}</span
            >
          </p>

          <div class="in-stock">
            {% if single_product.is_available %}
            <p>Available: <span>In stock</span></p>
            {% else %}
            <p class="danger">Our of stock, will be availabled soon.</p>
            {% endif %}
          </div>
          <p class="mt-3 mb-3">{{ single_product.properties }}</p>
          <!-- <div class="pro-dec-feature">
            <ul>
              <li>
                <input type="checkbox" /> Protection Plan:
                <span> 2 year $4.99</span>
              </li>
              <li>
                <input type="checkbox" /> Remote Holder: <span> $9.99</span>
              </li>
              <li>
                <input type="checkbox" /> Koral Alexa Voice Remote Case:
                <span> Red $16.99</span>
              </li>
              <li>
                <input type="checkbox" /> Amazon Basics HD Antenna:
                <span>25 Mile $14.99</span>
              </li>
            </ul>
          </div> -->
          <div class="quality-add-to-cart">
            {% comment %}
            <div class="quality">
              <label>Qty:</label>
              <input
                class="cart-plus-minus-box"
                type="text"
                name="qtybutton"
                value="{{ cart_item.quantity }}"
              />
            </div>
            {% endcomment %}

            <div class="shop-list-cart-wishlist mx-10">
              <a
                type="button"
                title="Add To Cart"
                href="{% url 'add_cart' single_product.id %}"
                style="font-family: 'Work Sans', sans-serif; font-weight: 600"
                >&nbsp;&nbsp;Add&nbsp;to&nbsp;Cart&nbsp;&nbsp;<i
                  class="ion-android-cart"
                ></i
                >&nbsp;&nbsp;</a
              >
              {% comment %}
              <a title="Wishlist" href="#">
                <i class="ion-android-favorite-outline"></i>
              </a>
              {% endcomment %}
            </div>
          </div>

          <!-- <div class="pro-dec-categories">
            <ul>
              <li class="categories-title">Categories:</li>
              <li><a href="#">Green,</a></li>
              <li><a href="#">Herbal, </a></li>
              <li><a href="#">Loose,</a></li>
              <li><a href="#">Mate,</a></li>
              <li><a href="#">Organic </a></li>
            </ul>
          </div>
          <div class="pro-dec-categories">
            <ul>
              <li class="categories-title">Tags:</li>
              <li><a href="#"> Oolong, </a></li>
              <li><a href="#"> Pu'erh,</a></li>
              <li><a href="#"> Dark,</a></li>
              <li><a href="#"> Special </a></li>
            </ul>
          </div> -->
          <div class="pro-dec-social">
            <ul>
              <li>
                <a class="tweet" href="#"
                  ><i class="ion-social-twitter"></i> Tweet</a
                >
              </li>
              <li>
                <a class="share" href="#"
                  ><i class="ion-social-facebook"></i> Share</a
                >
              </li>
              <li>
                <a class="google" href="#"
                  ><i class="ion-social-googleplus-outline"></i> Google+</a
                >
              </li>
              <li>
                <a class="pinterest" href="#"
                  ><i class="ion-social-pinterest"></i> Pinterest</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Deatils Area End -->

{% endblock %}
