    {% extends 'base.html' %}
    <!-- load static -->
    {% load static %}
    <!-- block content -->
    {% block content %}    <!-- Breadcrumb Area Start -->
    <!-- <div class="breadcrumb-area bg-image-3 ptb-150 pt-100"> -->
    <div class="breadcrumb-area ptb-150 pt-100" style="background-image: url(../static/img/banner/banner.jpg)">
      <div class="container">
        <div class="breadcrumb-content text-center">
          <h3>SHOP PAGE</h3>
          <ul>
            <li><a href="{%url 'index' %}">Home</a></li>
            <li class="active">SHOP PAGE</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Breadcrumb Area End -->
    <!-- Shop Page Area Start -->
    <div class="shop-page-area ptb-100">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <div class="shop-topbar-wrapper">
              <div class="shop-topbar-left">
                <ul class="view-mode">
                  <li class="active">
                    <a href="#product-grid" data-view="product-grid"
                      ><i class="fa fa-th"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#product-list" data-view="product-list"
                      ><i class="fa fa-list-ul"></i
                    ></a>
                  </li>
                </ul>
                <p>Showing 1 - 20 of 30 results</p>
              </div>
              <div class="product-sorting-wrapper">
                <div class="product-shorting shorting-style">
                  <label>View:</label>
                  <select>
                    <option value="">10</option>
                    <option value="">20</option>
                  </select>
                </div>
                <div class="product-show shorting-style">
                  <label>Sort by:</label>
                  <select>
                    <option value="">Default</option>
                    <option value="">Name</option>
                    <option value="">price</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="grid-list-product-wrapper">
              <div class="product-grid product-view pb-20">
                <div class="row">
                  <div
                    class="product-width col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30"
                  >
                  {% if products %} {% for product in products %}
                  <div class="product-wrapper">
                      <div class="product-img">
                        <a href="{{ product.get_url }}">
                          <img alt="" src="{{ product.photo_1.url }}" />
                        </a>
                        <span>-{{ product.discount_rate }}%</span>
                        <div class="product-action">
                          {% comment %} <a
                            class="action-compare"
                            href="{{ product.get_url }}"
                            data-bs-target="#exampleModal"
                            data-bs-toggle="modal"
                            title="Quick View"
                          >
                            <i class="ion-ios-search-strong"></i>
                          </a> {% endcomment %}
                        </div>
                      </div>
                      <div class="product-content text-left">
                        <div class="product-hover-style">
                          <div class="product-title">
                            <h4>
                              <a href="{{ product.get_url }}"
                                >{{ product.tea_name}}</a
                              >
                            </h4>
                          </div>
                          <div class="cart-hover">
                            <h4>
                              <a href="{{ product.get_url }}">+ Add to cart</a>
                            </h4>
                          </div>
                        </div>
                        <div class="product-price-wrapper">
                          <span>${{ product.discounted_price }} -</span>
                          <span class="product-price-old">${{ product.original_price }} </span>
                        </div>
                      </div>

                      <div class="product-list-details">
                        <h4>
                          <a href="{{ product.get_url }}">{{ product.tea_name}}</a>
                        </h4>
                        <div class="product-price-wrapper">
                          <span>${{ product.discounted_price }}</span>
                          <span class="product-price-old">${{ product.original_price }}</span>
                        </div>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipic it, sed
                          do eiusmod tempor incididunt ut labore et dolore magna
                          aliqua. Ut enim ad minim veniam, quis nostrud
                          exercitation ullamco laboris nisi ut aliquip ex ea
                          commodo consequat.
                        </p>
                        {% comment %} <div class="shop-list-cart-wishlist">
                          <a href="#" title="Wishlist"
                            ><i class="ion-android-favorite-outline"></i
                          ></a>
                          <a href="#" title="Add To Cart"
                            ><i class="ion-ios-shuffle-strong"></i
                          ></a>
                          <a
                            href="{{ product.get_url }}"
                            data-bs-target="#exampleModal"
                            data-bs-toggle="modal"
                            title="Quick View"
                          >
                            <i class="ion-ios-search-strong"></i>
                          </a>
                        </div> {% endcomment %}
                      </div>
                    </div>
                    {% endfor %} {% endif %}
                  </div>
                </div>
              </div>
                          
            <!-- Modal -->
            <!-- norman -->
            {% comment %} <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">x</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-5 col-sm-5 col-xs-12">
                        <!-- Thumbnail Large Image start -->
                        <div class="tab-content">
                          <div id="pro-1" class="tab-pane fade show active">
                            <img
                              src="{{ product.photo_1.url }}"
                              alt=""
                            />
                          </div>
                        </div>
                        <!-- Thumbnail Large Image End -->
                        <!-- Thumbnail Image End -->
                        <div class="product-thumbnail">
                        </div>
                        <!-- Thumbnail image end -->
                      </div>
                      <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="modal-pro-content">
                          <h3>{{ product.tea_name }}</h3>
                          <p>Tea type:&#x2004;{{ product.tea_type }}<br/>
                          Origin:&#x2003;&#x2009;&#x2006;{{ product.origin }}<br/>
                          Color:&#x2003;&#x2004;&#x2006;&#x2006;&#x2006;{{ product.color }}<br/>
                          Aroma:&#x2003;&#x2006;&#x2009;{{ product.aroma}}<br/>
                          Taste:&#x2003;&#x2004;&#x2006;&#x2006;&#x2009;{{ product.taste}}<br/>
                          Nature:&#x2003;&#x2009;{{ product.tea_nature}}<br/>
                          Weight:&#x2003;&#x2009;{{ product.weight}} g<br/>
                          Price:&#x2003;&#x2003;&#x2009;<span class="product-price-wrapper"><span class="product-price-old">${{ product.original_price }}</span>&#x2003;
                            <span style="color:#519f10; font-size: 20px;">${{ product.discounted_price }}</span></span></p>
                          <p>
                            Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas. Vestibulum tortor quam,
                            feugiat vitae, ultricies eget, tempor sit amet.
                          </p>
                          <div class="product-quantity mt-3">
                            <div class="cart-plus-minus">
                              <input
                                class="cart-plus-minus-box"
                                type="text"
                                name="qtybutton"
                                value="01"
                              />
                            </div>
                            <a class="button" type="button" href="{% url 'cart' %}">Add to cart</a>
                          </div>
                          {% if product.is_available%}
                          <span><i class="fa fa-check"></i> In stock</span>
                          {% else %}
                          <span><i class="fa fa-check"></i> Not availabel in this moment</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %} {% endif %}
            </div> {% endcomment %}



              <div class="pagination-total-pages">
                <div class="pagination-style">
                  <ul>
                    <li>
                      <a class="prev-next prev" href="#"
                        ><i class="ion-ios-arrow-left"></i> Prev</a
                      >
                    </li>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">10</a></li>
                    <li>
                      <a class="prev-next next" href="#"
                        >Next<i class="ion-ios-arrow-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="total-pages">
                  <p>Showing 1 - 20 of 30 results</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="shop-sidebar-wrapper gray-bg-7 shop-sidebar-mrg">
              <div class="shop-widget">
                <h4 class="shop-sidebar-title">Shop By Categories</h4>
                <div class="shop-catigory">
                  <ul id="faq">
                    <li><a href="{% url 'shop' %}">All Categories</a></li>
                    {% for category in links %}
                    <li><a href="{{ category.get_url }}">{{ category.category_name}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="shop-price-filter mt-40 shop-sidebar-border pt-35">
                <h4 class="shop-sidebar-title">Price Filter</h4>
                <div class="price_filter mt-25">
                  <span>Range: $100.00 - 1.300.00 </span>
                  <div id="slider-range"></div>
                  <div class="price_slider_amount">
                    <div class="label-input">
                      <input
                        type="text"
                        id="amount"
                        name="price"
                        placeholder="Add Your Price"
                      />
                    </div>
                    <button type="button">Filter</button>
                  </div>
                </div>
              </div>
              <!-- <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                <h4 class="shop-sidebar-title">By Brand</h4>
                <div class="sidebar-list-style mt-20">
                  <ul>
                    <li><input type="checkbox" /><a href="#">Green </a></li>
                    <li><input type="checkbox" /><a href="#">Herbal </a></li>
                    <li><input type="checkbox" /><a href="#">Loose </a></li>
                    <li><input type="checkbox" /><a href="#">Mate </a></li>
                    <li><input type="checkbox" /><a href="#">Organic </a></li>
                    <li><input type="checkbox" /><a href="#">White </a></li>
                    <li>
                      <input type="checkbox" /><a href="#">Yellow Tea </a>
                    </li>
                    <li><input type="checkbox" /><a href="#">Puer Tea </a></li>
                  </ul>
                </div>
              </div>-->
              <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                <h4 class="shop-sidebar-title">By Color</h4>
                <div class="sidebar-list-style mt-20">
                  <ul>
                    <li><input type="checkbox" /><a href="#">Black </a></li>
                    <li><input type="checkbox" /><a href="#">Blue </a></li>
                    <li><input type="checkbox" /><a href="#">Green </a></li>
                    <li><input type="checkbox" /><a href="#">Grey </a></li>
                    <li><input type="checkbox" /><a href="#">Red</a></li>
                    <li><input type="checkbox" /><a href="#">White </a></li>
                    <li><input type="checkbox" /><a href="#">Yellow </a></li>
                  </ul>
                </div>
              </div>
              <!-- 
              <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                <h4 class="shop-sidebar-title">Compare Products</h4>
                <div class="compare-product">
                  <p>You have no item to compare.</p>
                  <div class="compare-product-btn">
                    <span>Clear all </span>
                    <a href="#">Compare <i class="fa fa-check"></i></a>
                  </div>
                </div>
              </div> -->
              <!-- <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                <h4 class="shop-sidebar-title">Popular Tags</h4>
                <div class="shop-tags mt-25">
                  <ul>
                    <li><a href="#">Green</a></li>
                    <li><a href="#">Oolong</a></li>
                    <li><a href="#">Black</a></li>
                    <li><a href="#">Pu'erh</a></li>
                    <li><a href="#">Dark </a></li>
                    <li><a href="#">Special</a></li>
                  </ul>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal end -->
    {% endblock %}
  </body>
</html>
