{% extends 'base.html' %}
<!-- load static -->
{% load static %}
<!-- block content -->
{% block content %}
<div
  class="breadcrumb-area ptb-150"
  style="background-image: url(../../static/img/banner/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;"
>
  <div class="container">
    <h1 class="text-center mt-70" style="color: white">
      <b>Thanks for watching!</b>
    </h1>
    <h3 class="text-center mt-20" style="color: white">
        <i>Members:</i><br/>
      Man Cao, Ivan Wong, Jonathan Tang, Norman Law
    </p>
  </div>
</div>

{% endblock %}
